@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

header {
    height: 70px;
    background-color: #1a5f35;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

::-webkit-scrollbar {
    filter: opacity(0);
    background-color: rgba(255, 255, 255, 0.288);
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    display: none !important;
}

::-webkit-scrollbar-thumb {
    background-color: #1a5f35;
    width: 3px;
    border: 2px solid white;
    border-radius: 15px;
}

body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.back {
    position: absolute;
    top: 20px;
    left: 15vw;
    cursor: pointer;
}

.back:hover {
    filter: brightness(0.8);
}

.menu {
    height: 85px;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
}

.menu > h2 {
    color: #1a5f35;
    font-weight: 600;
}

.wrap {
    display: flex;
    column-gap: 25px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao {
    margin-top: 15px;
    width: 10.9vw;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(206, 206, 206);
    border-radius: 5px 5px 0px 0px;
    cursor: pointer;
    font-size: smaller;
}

.botao:hover {
    background-color: rgb(206, 206, 206);
}

.active {
    border-bottom: 0;
    border-top: 1px solid rgb(206, 206, 206);
    border-right: 1px solid rgb(206, 206, 206);
    border-left: 1px solid rgb(206, 206, 206);
}

.manage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 98vw;
    height: 70px;
    margin: auto;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #1a5f35;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

.move {
    background-color: #ff6e28;
    color: white;
    padding: 9px;
    border-radius: 5px;
    cursor: pointer;
    height: 35px;
}

.move:focus {
    background-color: #ac4a19;
}

.move:focus + .moveMenu {
    opacity: 1;
    pointer-events: all;
}

.moveMenu:hover {
    opacity: 1;
    pointer-events: all;
}

.mover {
    display: flex;
    transform: translateY(10px);
    column-gap: 5px;
    height: 50px;
}

#search {
    width: 45vw;
    height: 35px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(206, 206, 206);
}

table {
    width: 98vw;
    border-collapse: collapse;
    margin: auto;
    border-radius: 25px;
}

th {
    border: 1px solid rgb(206, 206, 206);
    padding: 9px;
    text-align: start;
    font-size: small;
    background-color: #f5f5f5;
}

.moveMenu {
    position: relative;
    z-index: 1;
    background-color: white;
    align-self: flex-start;
    justify-self: flex-start;
    padding: 10px;
    padding-left: 0;
    padding-right: 0;
    width: 150px;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transition-duration: 0.3s;
}

.moveMenu p {
    padding: 7px;
    font-size: small;
    padding-left: 20px;
    padding-right: none;
    cursor: pointer;
}

.moveMenu p:hover {
    background-color: #f5f5f5;
}

td {
    border: 1px solid rgb(206, 206, 206);
    padding: 9px;
    text-align: start;
    font-size: small;
    height: 40px;
}

tr:nth-child(2n) {
    background-color: #f5f5f5;
}

.tog {
    display: flex;
    column-gap: 5px;
}

.check {
    height: 40px;
    padding: 9px;
    margin: 5px;
}

.inp {
    display: flex;
    align-items: center;
}

.orange {
    background-color: #ff6e28;
    width: 70px;
    text-align: center;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    color: white;
}

.wid {
    width: 70px;
}

#situation {
    width: 100%;
    height: 100%;
    padding: 5px;
    color: black;
}

#observacao {
    width: 100%;
    height: 100%;
    padding: 5px;
}

option {
    color: black;
}

#details {
    position: absolute;
    top: 70px;
    left: 0;
    height: calc(100vh - 70px);
    width: 100vw;
    background-color: white;
    z-index: 1;
    display: none;
    padding-bottom: 15px;
}

#details table {
    margin-top: 15px;
}

.dado-table {
    width: 50%;
    background-color: #f5f5f5;
}

#nomeCliente {
    width: 200%;
    clear: both;
    display: block;
    border-bottom: none;
    background-color: #f5f5f5;
}

.dadoTable {
    background-color: white;
}

.rest {
    height: 50vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nomeCatalogo {
    width: 200%;
    clear: both;
    display: block;
    border-bottom: none;
    background-color: #f5f5f5;
}

#numPedido {
    width: 200%;
    clear: both;
    display: block;
    border-bottom: none;
    background-color: #f5f5f5;
}