@import url("https://fonts.googleapis.com/css2?family=Corinthia&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
    filter: opacity(0);
    background-color: rgba(255, 255, 255, 0.288);
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: transparent !important;
    display: none !important;
}

::-webkit-scrollbar-thumb {
    background-color: black;
    width: 3px;
    border: 2px solid white;
    border-radius: 15px;
}

body {
    padding-bottom: 25px;
    width: 100vw;
    overflow-x: hidden;
}

header {
    height: 70px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    z-index: 19000;
    position: relative;
    top: 0;
}

h1 {
    font-family: "Corinthia", "cursive" !important;
    font-weight: lighter;
    font-size: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
}

.back {
    position: absolute;
    top: 20px;
    left: 15vw;
    font-size: 2em;
    cursor: pointer;
    color: black !important;
}

video {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -999999999999999999;
}

.back:hover {
    filter: brightness(1.8);
}

.menu {
    height: 85px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    position: relative;
    z-index: -99999999;
}

.menu > h2 {
    color: black;
    font-weight: 600;
}

.wrap {
    overflow: hidden;
    position: relative;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding: 2vw;
    margin: auto;
    background-color: #ffffff;
    z-index: 999999999999999;
}

.wrapActive {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
}

.create {
    padding: 7px;
    background-color: #ff6e28;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.create:hover {
    background-color: #f44f00;
}

.classificar {
    width: 120px;
    height: 30px;
    border-bottom: 1px solid #cfcfcf;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active {
    border-bottom: 2px solid #ff6e28;
    cursor: default;
}

.order {
    display: flex;
    column-gap: 5px;
    align-items: center;
    justify-content: center;
}

.classificar:not(.active):hover {
    cursor: pointer;
}

#texto {
    width: 24vw;
    height: 35px;
    border: 1px solid #cfcfcf;
    border-radius: 5px 0 0 5px;
    padding: 5px;
}

#texto:focus {
    border: 1px solid black;
    outline: none;
}

.search {
    display: flex;
    border-collapse: collapse;
    border: none;
}

.settings {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
}

.pesquisa {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.pasta {
    height: 60%;
}

.pesquisa:hover {
    background-color: #062613;
}

.container {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 15vw 15vw 15vw 15vw 15vw 15vw;
    column-gap: 15px;
    row-gap: 15px;
    margin-top: 25px;
}

.containertwo {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 11.5vw 11.5vw 11.5vw 11.5vw 11.5vw 11.5vw 11.5vw 11.5vw;
    margin-top: 25px;
    row-gap: 10px;
    column-gap: 12px;
}

.card {
    width: 15vw;
    height: 16vw;
    background-color: #f5f5f5;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    cursor: pointer;
    padding: 5px;
    margin: auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.218);
}

.cardtwo:hover {
    background-color: #cccccc;
}

.image {
    height: 80%;
    width: 90%;
    border: 1px solid #cfcfcf;
    border-radius: 10px;
    padding: 3px;
    overflow: hidden;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image img {
    height: 100%;
    border-radius: 10px;
}

.cardtwo {
    width: 11.5vw;
    height: 13vw;
    background-color: #f5f5f5;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    cursor: pointer;
    padding: 5px;
    margin: auto;
}

.cardtwo > p {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: small;
    white-space: nowrap;
    color: #062613;
    width: 90%;
}

.card:hover {
    background-color: #e8e8e8;
}

#list {
    display: none;
}

.select {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    background-color: white;
    border-collapse: collapse;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.218);
}

.select::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.opt {
    width: 49vw;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid black;
}

.active {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: none;
}

.opt:not(.active):hover {
    background-color: #cccccc;
    cursor: pointer;
}

.remove {
    padding: 7px;
    background-color: #ed7878;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.change {
    padding: 7px;
    background-color: #0e5129;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.btns {
    display: flex;
    column-gap: 3px;
}

.busca {
    width: 25vw;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #cccccc;
}

.loader {
    position: fixed;
    top: 65vh;
    left: calc(50vw - 24px);
    width: 48px;
    height: 48px;
    border: 5px solid #000000;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.load {
    width: 30px;
    height: 30px;
    border: 4px solid #ffffff;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#productSettings {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    padding-bottom: 20px;
}

.first {
    margin: auto;
    display: flex;
    width: 97vw;
    align-items: center;
    justify-content: space-around;
    margin-top: 35px !important;
}

.second {
    margin: auto;
    margin-top: 20px;
    display: flex;
    width: 97vw;
    align-items: center;
    justify-content: space-around;
}

.wrapper > input {
    width: 46vw;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    padding: 5px;
}

.wrapper2 > input {
    height: 35px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    padding: 5px;
}

#cod {
    width: 96vw;
}

.wrapper2 {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    width: 96vw;
    margin: auto;
    margin-top: 20px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
}

.wrapper > label {
    font-size: small;
    font-weight: bold;
}

.wrapper > select {
    width: 49vw;
    height: 35px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.second > .wrapper > input {
    width: 20.5vw;
}

.second > .wrapper > select {
    width: 31.5vw !important;
}

option:checked {
    box-shadow: 0 0 10px 100px #0e5129 inset;
}

.description {
    margin: auto;
    margin-top: 20px;
    display: flex;
    width: 97vw;
    align-items: center;
    justify-content: space-around;
}

#desc {
    width: 96vw;
    resize: none;
    border-radius: 5px;
    border: 1px solid #cccccc;
    padding: 5px;
}

.firstCreate {
    width: 50vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    margin: auto;
    margin-top: 40px;
}

.createWrap {
    display: flex;
    flex-direction: column;
    margin: auto;
    row-gap: 5px;
}

.createWrap input,
.createWrap select {
    width: 32vw;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #cfcfcf;
    padding: 5px;
}

.createWrap select option {
    height: 40px;
}

#createDesc {
    width: 50vw;
    height: 90px;
    padding: 10px;
    font-size: large;
    border-radius: 5px;
    border: 1px solid #cfcfcf;
}

#editDesc {
    width: 50vw;
    height: 90px;
    padding: 10px;
    font-size: large;
    border-radius: 5px;
    border: 1px solid #cfcfcf;
}

.secondCreate {
    row-gap: 5px;
    margin-top: 35px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 65vw;
    margin-left: auto;
    margin-right: auto;
}

.thirdCreate {
    row-gap: 5px;
    margin-top: 35px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 65vw;
    margin-left: auto;
    margin-right: auto;
}

.thirdCreate input {
    width: 25vw;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #cfcfcf;
    padding: 5px;
}

.midiaBox {
    border: 1px solid #cccccc;
    width: 50vw;
    margin: auto;
    border-radius: 0 0 5px 5px;
    min-height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    padding: 15px;
}

.midiaBox .imgCard {
    height: 5vw;
}

.txtSpace {
    margin-top: 25px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    margin: auto;
    height: 60px;
    top: 0;
    background-color: #e8e8e8;
    border-radius: 5px 5px 0 0;
    border: 1px solid #cccccc;
}

.midiaBtn {
    background-color: #e8e8e8;
    border: 1px solid #cccccc;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.variations {
    margin-top: 25px !important;
    min-height: 120px;
    width: 40vw;
    margin: auto;
    border: 1px solid #cccccc;
    overflow: hidden;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 8px;
    flex-direction: column;
    position: relative;
}

.variations input {
    width: 90%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #cfcfcf;
    padding: 10px;
}

.variations div {
    background-color: #e8e8e8;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    cursor: pointer;
    position: absolute;
    bottom: 5px;
}

.variations h3 {
    background-color: #e8e8e8;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    border-bottom: 1px solid #cccccc;
}

.formPost {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99999999999999999999999999999;
    background-color: rgba(0, 0, 0, 0.536);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.formPost form {
    position: relative;
    background-color: white;
    border-radius: 5px;
    height: 60vh;
    width: 60vh;
    display: flex;
    align-items: center;
    row-gap: 10px;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #e8e8e8;
}

.formPost form input {
    width: 90%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    padding: 5px;
}

.submitForm {
    position: absolute;
    bottom: 5%;
    background-color: #e8e8e8;
    border: 1px solid #cccccc;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

.closeForm {
    position: absolute;
    top: 5%;
    right: 5%;
    background-color: #f44f00;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    cursor: pointer;
}

.save {
    padding: 20px;
    display: inline;
    color: white;
    background-color: #000000;
    border-radius: 10px;
    cursor: pointer;
    position: fixed;
    bottom: 2vh;
    right: 2vh;
}

.salve {
    background-color: #000000;
    padding: 15px;
    border-radius: 5px;
    position: fixed;
    bottom: 2vw;
    right: 2vw;
    color: white;
    cursor: pointer;
}

.imgCard img {
    width: 15vw;
    height: 15vw;
    border-radius: 5px;
}

.imgCard {
    width: calc(15vw + 15px);
    height: calc(15vw + 65px);
    background-color: #e8e8e8;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.imgCardTwo {
    width: 14vw;
    height: 15vw;
    background-color: #e8e8e8;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #cccccc;
    margin-top: 25px;
    position: relative;
}

.imgCardTwo img {
    width: 10vw;
    height: 10vw;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
}

.imgCardTwo > .cardBtn {
    position: absolute;
    bottom: 5px;
}

.secondCardWrapper {
    display: flex;
    column-gap: 10px;
}

.firstCardWrapper {
    display: flex;
    column-gap: 10px;
}

.cardBtn {
    background-color: #f44f00;
    color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}

.imgCardContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
}

.imagensTxt {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    color: #000000;
}

.createProductWrapper {
    background-color: white;
    padding: 3vw;
    width: 80vw;
    margin: auto;
    margin-top: 25px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.218);
}