* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
    filter: opacity(0);
    background-color: rgba(255, 255, 255, 0.288);
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    display: none !important;
}

::-webkit-scrollbar-thumb {
    background-color: #1a5f35;
    width: 3px;
    border: 2px solid white;
    border-radius: 15px;
}

body {
    padding-bottom: 25px;
}

header {
    height: 70px;
    background-color: #1a5f35;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.back {
    position: absolute;
    top: 20px;
    left: 15vw;
    cursor: pointer;
}

.back:hover {
    filter: brightness(0.8);
}

.menu {
    height: 87px;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
}

.menu > h2 {
    color: #1a5f35;
    font-weight: 600;
}

.wrap {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 97vw;
    margin: auto;
}

.create {
    padding: 7px;
    background-color: #ff6e28;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.create:hover {
    background-color: #f44f00;
}

.classificar {
    width: 120px;
    height: 30px;
    border-bottom: 1px solid #cfcfcf;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active {
    border-bottom: 2px solid #ff6e28;
    cursor: default;
}

.order {
    display: flex;
    column-gap: 5px;
    align-items: center;
    justify-content: center;
}

.classificar:not(.active):hover {
    cursor: pointer;
}

#texto {
    width: 24vw;
    height: 35px;
    border: 1px solid #cfcfcf;
    border-radius: 5px 0 0 5px;
    padding: 5px;
}

#texto:focus {
    border: 1px solid black;
    outline: none;
}

.search {
    display: flex;
    border-collapse: collapse;
    border: none;
}

.settings {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
}

.pesquisa {
    background-color: #1a5f35;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.pesquisa:hover {
    background-color: #062613;
}

.container {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 15vw 15vw 15vw 15vw 15vw 15vw;
    column-gap: 15px;
    row-gap: 15px;
    margin-top: 25px;
}

.containertwo {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 11.5vw 11.5vw 11.5vw 11.5vw 11.5vw 11.5vw 11.5vw 11.5vw;
    margin-top: 25px;
    row-gap: 10px;
    column-gap: 12px;
}

.card {
    width: 15vw;
    height: 16vw;
    background-color: #f5f5f5;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    cursor: pointer;
    padding: 5px;
    margin: auto;
}

.cardtwo:hover {
    background-color: #cccccc;
}

.image {
    height: 80%;
    width: 90%;
    border: 1px solid #cfcfcf;
    border-radius: 10px;
    padding: 3px;
    overflow: hidden;
    background-color: white;
}

.image img {
    height: 100%;
    border-radius: 10px;
}

.cardtwo {
    width: 11.5vw;
    height: 13vw;
    background-color: #f5f5f5;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    cursor: pointer;
    padding: 5px;
    margin: auto;
}

.cardtwo > p {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: small;
    white-space: nowrap;
    color: #062613;
    width: 90%;
}

.card:hover {
    background-color: #e8e8e8;
}

#list {
    display: none;
}

.select {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    border-collapse: collapse;
}

.select {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    border-collapse: collapse;
}

.opt {
    width: 49vw;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #cccccc;
}

.active {
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: none;
}

.opt:not(.active):hover {
    background-color: #cccccc;
    cursor: pointer;
}

.remove {
    padding: 7px;
    background-color: #ed7878;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.change {
    padding: 7px;
    background-color: #0e5129;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.btns {
    display: flex;
    column-gap: 3px;
}

.busca {
    width: 25vw;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #cccccc;
}

.loader {
    position: fixed;
    top: 65vh;
    left: calc(50vw - 24px);
    width: 48px;
    height: 48px;
    border: 5px solid #062613;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.first {
    margin: auto;
    display: flex;
    width: 97vw;
    align-items: center;
    justify-content: space-around;
}

.second {
    margin: auto;
    margin-top: 20px;
    display: flex;
    width: 97vw;
    align-items: center;
    justify-content: space-around;
}

.wrapper > input {
    width: 31vw;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    padding: 5px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
}

.wrapper > label {
    font-size: small;
    font-weight: bold;
}

.wrapper > select {
    width: 31vw;
    height: 35px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.second > .wrapper > input {
    width: 20.5vw;
}

option:checked {
    box-shadow: 0 0 10px 100px #0e5129 inset;
}

.description {
    margin: auto;
    margin-top: 20px;
    display: flex;
    width: 97vw;
    align-items: center;
    justify-content: space-around;
}

#desc {
    width: 96vw;
    resize: none;
    border-radius: 5px;
    border: 1px solid #cccccc;
    padding: 5px;
}